<!DOCTYPE html>
<!--
 Copyright 2019-2020 Enseada authors

 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at https://mozilla.org/MPL/2.0/.
-->

<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{with $t := .title}}{{$t}}{{else}}Enseada{{end}}</title>
	<link rel="icon" type="image/x-icon" href="/assets/favicon.ico"/>
	<script src="/static/runtime.js"></script>
	<script src="/static/app.js"></script>
	<link rel="stylesheet" href="/static/app.css">
    {{template "head" .}}
</head>
<body>
<main id="main">
    {{template "navbar" .}}
    {{template "content" .}}
</main>
</body>
</html>