type: object
required:
  - error
  - reasons
properties:
  error:
    type: string
    description: Canonical reason for the error
    example: Error Name
  reasons:
    type: array
    items:
      type: string
    example:
      - an error has occurred