{% extends "layouts/dashboard.html" %}

{% block title %}Containers{% endblock %}

{% block main %}
    <section class="section">
        <h2 class="subtitle">Registry information</h2>
        <p class="content">Login <code>docker login {{ oci_url }}</code></p>
    </section>
    <section class="section">
        <h1 class="title">Container Images</h1>
        <table class="table is-hoverable is-fullwidth is-striped">
            <thead>
            <tr>
                <th>Name</th>
                <th>Tags</th>
            </tr>
            </thead>
            <tbody>
            {% for repo in repos %}
                <tr>
                    <td><a href="/dashboard/containers/{{ repo.full_name() }}">{{ repo.full_name() }}</a></td>
                    <td>{{ repo.tags().len() }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <nav class="pagination" role="navigation" aria-label="pagination">
            {% match prev_link %}
                {% when Some with (link) %}
                <a class="pagination-previous" href="{{ link }}">Previous</a>
                {% when None %}
                <a class="pagination-previous" disabled="">Previous</a>
            {% endmatch %}

            {% match next_link %}
                {% when Some with (link) %}
                <a class="pagination-next" href="{{ link }}">Next</a>
                {% when None %}
                <a class="pagination-next" disabled="">Next</a>
            {% endmatch %}
        </nav>
    </section>
{% endblock %}
