<!--
 Copyright 2019-2020 Enseada authors

 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at https://mozilla.org/MPL/2.0/.
-->

{{define "errors"}}
    {{ with $errs := .Errors }}
		<div class="container mx-auto max-w-2xl mt-10 flex flex-col items-center bg-grey-200">
            {{range $errs }}
				<span class="flex-auto m-2 p-2 rounded bg-red-600 text-white">{{.}}</span>
            {{end}}
		</div>
    {{end}}

	{{with $he := .HTTPError}}
		<div class="container mx-auto max-w-2xl mt-10 flex flex-col items-center bg-grey-200">
			<span class="flex-auto m-2 p-2 rounded bg-red-600 text-white">{{$he}}</span>
		</div>
	{{end}}
{{end}}