<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/dashboard">
            <img src="/images/enseada-logo.svg" width="112" height="28">
        </a>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
           data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="/dashboard">
                Home
            </a>

            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    Help
                </a>

                <div class="navbar-dropdown">
                    <a class="navbar-item" href="https://docs.enseada.io" target="_blank">
                        Documentation
                    </a>
                    <a class="navbar-item" href="https://github.com/enseadaio/enseada/issues/new/choose"
                       target="_blank">
                        Report an issue
                    </a>
                    <hr class="navbar-divider">
                    <a class="navbar-item" href="#">
                        About
                    </a>
                </div>
            </div>
        </div>

        <div class="navbar-end">
            {% match user %}
                {% when Some with (user) %}
                <div class="navbar-item">
                    <p>{{ user.username()|capitalize }}</p>
                </div>
                {% when None %}
            {% endmatch %}
        </div>
    </div>
</nav>