tags:
  - users
summary: Fetch a single user details
operationId: user::get
x-required-permissions:
  - object: user:$username
    action: read
security:
  - oauth:
      - users:read
parameters:
  - $ref: ../../../../../components/parameters/username.yml
responses:
  "200":
    description: User details
    content:
      application/json:
        schema:
          $ref: ../../../../../components/schemas/user/model.yml.njk
  "404":
    description: A user with the given username doesn't exist
    content:
      application/json:
        schema:
          $ref: ../../../../../components/schemas/error.yml.njk