{% extends "layouts/base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<section class="hero is-fullheight">
    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="column is-4 is-offset-4">
                <h3 class="title has-text-black">You have been logged out</h3>
                <hr class="login-hr">
                <p class="subtitle has-text-black">You may close this window now</p>
                <p class="subtitle has-text-black">or go back to the <a href="/">login page</a></p>
            </div>
        </div>
    </div>
</section>
{% endblock %}
