# Configuration

## Generic
ENSEADA_PORT=9623
ENSEADA_LOG_FORMAT=text
ENSEADA_LOG_LEVEL=debug
ENSEADA_LOG_ROOTLEVEL=debug
ENSEADA_SECRET_KEY=Y7o3UYJTdympbipV54to2e57r5bjTMcq
ENSEADA_PUBLIC_HOST=http://localhost:9623
ENSEADA_ROOT_PASSWORD=supersecret

## Database
ENSEADA_COUCHDB_URL=http://localhost:5984
ENSEADA_COUCHDB_USERNAME=enseada
ENSEADA_COUCHDB_PASSWORD=enseada

## SSL
ENSEADA_TLS_ENABLED=true
ENSEADA_TLS_CERT_PATH=examples/cert.pem
ENSEADA_TLS_KEY_PATH=examples/key.pem
