type: object
required:
  - object
  - action
properties:
  subject:
    type: string
    description: GUID representing the subject of the permission
  object:
    type: string
    description: GUID representing the object of the permission
  action:
    type: string
    description: name of the action that is permitted on the object