<!--
 Copyright 2019-2020 Enseada authors

 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at https://mozilla.org/MPL/2.0/.
-->

{{define "head"}}
{{end}}

{{define "content"}}
	<div class="container mx-auto max-w-md mt-20 bg-white p-6">
		<div class="text-center">
			<h1 class="text-2xl m-4">COMING SOON</h1>
			<div class="flex-col md:flex-row flex justify-between">
				<a class="flex-1 mr-2 p-2 text-white bg-blue-500 hover:bg-blue-700 rounded shadow-lg" href="https://enseada.io">Website</a>
				<a class="flex-1 ml-2 p-2 text-white bg-blue-500 hover:bg-blue-700 rounded shadow-lg" href="https://docs.enseada.io">Documentation</a>
			</div>
		</div>
	</div>
{{end}}