<!--
 Copyright 2019-2020 Enseada authors

 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at https://mozilla.org/MPL/2.0/.
-->

{{define "head"}}{{end}}
{{define "content"}}
	<div class="container mx-auto w-full max-w-xs mt-20">
		<form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" action="/oauth/authorize" method="post">
			<div class="mb-4">
				<label class="block text-gray-700 text-sm font-bold mb-2" for="username">
					Username
				</label>
                {{ $ue := .UsernameError}}
                {{ $ueb := "" }}
                {{ if $ue }}
                    {{ $ueb = "border-red-500" }}
                {{end}}
				<input class="shadow appearance-none border {{ $ueb }} rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
				       id="username" type="text" placeholder="Username" name="username" autofocus>
                {{ with $ue }}
					<p class="text-red-500 text-xs italic">{{.}}</p>
                {{end}}
			</div>
			<div class="mb-6">
				<label class="block text-gray-700 text-sm font-bold mb-2" for="password">
					Password
				</label>
                {{ $pe := .PasswordError}}
                {{ $peb := "" }}
                {{ if $pe }}
                    {{ $peb = "border-red-500" }}
                {{end}}
				<input class="shadow appearance-none border {{ $peb }} rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"
				       id="password" type="password" placeholder="******************" name="password">
                {{ with $pe }}
					<p class="text-red-500 text-xs italic">{{.}}</p>
                {{end}}
			</div>
			<input type="hidden" name="client_id" value="{{.ClientID}}">
			<input type="hidden" name="redirect_uri" value="{{.RedirectURI}}">
			<input type="hidden" name="state" value="{{.State}}">
			<input type="hidden" name="scope" value="{{.Scope}}">
			<input type="hidden" name="audience" value="{{.Audience}}">
			<input type="hidden" name="response_type" value="{{.ResponseType}}">
			<div class="flex items-center justify-between">
				<input class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
				        type="submit" value="Login">
			</div>
		</form>
	</div>
{{end}}