{% extends "layouts/dashboard.html" %}

{% block title %}Dashboard{% endblock %}

{% block main %}
    <section class="section">
        <div class="columns is-multiline">
            <div class="column">
                <a href="/dashboard/containers">
                    <div class="box has-background-oci">
                        <article class="media">
                            <div class="media-left">
                                <figure class="image is-64x64 has-background-white">
                                    <img src="/images/oci-logo.png" alt="OCI Logo">
                                </figure>
                            </div>
                            <div class="media-content">
                                <div class="">
                                    <h2 class="title has-text-white">Container images</h2>
                                    <h3 class="subtitle has-text-white">
                                        {{ oci_repos_count }} available
                                </div>
                            </div>
                        </article>
                    </div>
                </a>
            </div>
            <div class="column">
                <a href="#">
                    <div class="box has-background-maven">
                        <article class="media">
                            <div class="media-left">
                                <figure class="image is-64x64 has-background-white">
                                    <img class="is-rounded" src="/images/maven-logo.png" alt="Maven Logo">
                                </figure>
                            </div>
                            <div class="media-content">
                                <div>
                                    <h2 class="title has-text-white">Maven packages</h2>
                                    <h3 class="subtitle has-text-white">
                                        {{ maven_repos_count }} available
                                    </h3>
                                </div>
                            </div>
                        </article>
                    </div>
                </a>
            </div>
        </div>
    </section>
{% endblock %}
